{:paths ["src" "genartlib/src/clj"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        quil/quil {:mvn/version "4.3.1563"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}}
 :aliases {:run {:main-opts ["-m" "generative-art.core"]}}}
